<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Pestaña-->
    <title>{% block tab_title %}Hardcore Hardware{% endblock %}</title>

    {% load static %}
    <link rel="icon" href="{% static 'core/images/HH.png' %}" type="images/png">
    <!--Start CSS-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- CSS FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--CSS Base-->
    <link rel="stylesheet" href="{% static 'core/css/style_base.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/paginator.css' %}">
    <!--CSS Personalizado-->
    {% block css_custom %}
    
    {% endblock %}
    
    <!--End CSS-->
</head>
<body>

    <!--Start Header-->
    <header>
        <!--Inicio NAVBAR-->
        <nav class="navbar navbar-expand-lg bg-custom-dark navbar-dark flex-lg-row">
            <a class="navbar-brand" href="{% url 'home' %}" target="_top">
                <img class="nav-icon" src="{% static 'core/images/HH.png' %}" alt="logo">  
            </a>
            <a class="navbar-brand" href="{% url 'home' %}" target="_top">
                <span class="navbar-title">Hardcore Hardware</span>
            </a>
            
            <!--Boton de menú-->
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--Links-->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'search' %}" target="_top">Buscar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" target="_top">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'guias' %}" target="_top">Guias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'valor_moneda' %}" target="_top">Moneda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}"target="_top">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}"target="_top">Contacto</a>
                    </li>                    
                    <li class="nav-item dropdown show">
                            {% if user.is_authenticated %}
                                <a class="nav-link dropdown-toggle" href="#" id="nadbarDropdown" 
                                data-toggle="dropdown">Cuenta</a>
                                    <div class="dropdown-menu dropdown-menu-md-right">
                                        <a class="dropdown-item" href="#" >Usuario: {{ user.username }}</a>
                                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesion</a>
                                    </div>
                            {%else%}
                                <a class="nav-link" href="{% url 'login' %}" target="_top">Acceder</a>
                            {%endif%}
                    </li>
                    <li class="nav-item dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" id="nadbarDropdown" 
                        data-toggle="dropdown">Categorias</a>
                        <div class="dropdown-menu dropdown-menu-md-right">
                            {% for categoria in categorias_all %}
                                <a class="dropdown-item" href="{% url 'search' %}?search=categoria%3A{{categoria.title}}" target="_top">{{categoria.nameSpanish}}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Start Oferta-->
        <div class="row offer-main">
            <h1 class="col-12 offer-title">Black Wednesday!</h1>
            <p class="col-12 offer-text">Termina en <span class="tiempo_limite">00H:00M:00S</span></p>
        </div>
        <!--End Oferta-->
    </header>
    <!--End Header-->
    
    


    <!--Start Contenido-->


    <main class="container-xl mt-4 mb-4">
        {% block content %} {% endblock %}
    </main>

    <!--End Contenido-->



    <!--Start Footer-->
    <footer class="py-4">
        <div class="container-fluid">
            <nav class="row text-center">
                <div class="col-12 col-sm-6 col-md-3 footer-col">
                    <div class="col footer-bloque">
                        <a href="{% url 'home' %}" class="text-reset-uppercase" target="_top">
                            <img class="footer-icon" src="{% static 'core/images/HH.png' %}" alt="logo" style="height: 120px; width: 120px;">  
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 footer-col">
                    <ul class="list-unstyled">
                        <li class="font-weight-bold text-uppercase">Social Networks</li>  
                        <li>
                            <a href="https://www.instagram.com/hardcore_hardware/?hl=es-la/" target="blank" class="text-reset"><i class="fab fa-instagram"></i> Instagram</a>
                        </li>
                        <li><a href="https://twitter.com/HardcoreHardwa1/" target="blank" class="text-reset"><i class="fab fa-twitter"></i> Twitter</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3 footer-col">
                    <ul class="list-unstyled">
                        <li class="font-weight-bold text-uppercase">Páginas</li>
                        <li><a href="{% url 'home' %}" target="_top" class="text-reset footer-link">Inicio</a></li>
                        <li><a href="{% url 'guias' %}" target="_top" class="text-reset footer-link">Guias</a></li>
                        <li><a href="https://www.google.cl" class="text-reset footer-link">Contacto</a></li>
                        <li><a href="{% url 'about' %}" target="_top" class="text-reset footer-link">Acerca de</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3 footer-col">
                    <ul class="list-unstyled">
                        <li class="font-weight-bold text-uppercase">Precio de la Moneda</li>
                        <li>Dolares: <span class="valorDolar"></span></li>
                        <li>Euros: <span class="valorEuro"></span></li>
                        <li>UF: <span class="valorUF"></span></li>
                        {% if request.path != '/calcularPrecio/' %}
                        <li><a class="footer-link" href="{% url 'valor_moneda' %}" target="_blank">Calcular</a></li>
                        {% endif %}
                    </ul>
                </div>

            </nav>
            <div class="row footer-bottom">
                <div class="col-lg-6 text-center">
                    <h6>Creado por Hardcore Hardware Team.</h6>
                </div>

                <div class="col-lg-6 text-center">
                    <h6><span class="fecha"></span>, <span class="hora"></span></h6>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <!--Start Custom Scripts-->
    <script src="{% static 'core/js/tiempo.js' %}"></script>
    <script src="{% static 'core/js/offer.js' %}"></script>
    <script src="{% static 'core/js/price.js' %}"></script>
    <script src="{% static 'core/js/guias.js' %}"></script>
    <!--End Custom Scripts-->
    {% block js_custom %}
    
    {% endblock %}
</body>
</html>