{% extends 'core/base.html' %}
{% load static %}
{% block css_custom %}
<link rel="stylesheet" href="{% static 'core/css/calcular_precio.css' %}">
{% endblock %}
{% block tab_title %}Guias{% endblock %}
{% block content %} 
<div class="calcular-precio-body">
    <div class="row">
        <div class="col-12">
            <h1 class="display-3 text-center mb-5">
                Cambio de Moneda
            </h1>
        </div>
    </div>

    <!--Informacion del cambio de moneda-->
    <div class="row text-center">
        <h3 class="col-12 font-weight-bold text-uppercase display-5">Precio de la Moneda</h3>
        <div class="col-12 col-md-4 mt-3">
            <h6>
                $1 Dolar = <span class="valorDolar"></span>
            </h6>
        </div>
        <div class="col-12 col-md-4 mt-2">
            <h6>
                $1 Euro = <span class="valorEuro"></span>
            </h6>
        </div>
        <div class="col-12 col-md-4 mt-2">
            <h6>
                $1 UF = <span class="valorUF"></span>
            </h6>
        </div>
    </div>

    <!--TextBox de las monedas-->
    <div class="row mt-4 mb-4">
        <div class="col-1 d-none d-md-block"></div>
        <div class="col-md-4 text-center">
            <label class="calc-label" for="txt_entrada">Valor de entrada (Ej: 1.500,99)</label>
            <br>
            <input class="calc-input" type="number" id="txt_entrada" name="entrada">
            <br>
            <span id="tipoMoneda_Entrada">Moneda</span>
        </div>
        <div class="col-md-2 text-center">
            <h3 class="calc-label pt-3">A</h3>
        </div>
        <div class="col-md-4 text-center">
            <label class="calc-label" for="txt_salida">Resultado</label>
            <br>
            <input class="calc-input" type="number" id="txt_salida" name="salida">
            <br>
            <span id="tipoMoneda_Salida">Moneda</span>
        </div>
        <div class="col-1 d-none d-md-block"></div>
    </div>

    <!--Botones-->
    <div class="row mt-4 mb-4">
        <div class="row m-auto text-center">
            
            <div class="col-12 col-lg-4 calc-button-group">
                <button class="btn calc-button" onclick="calc_clp_a_dolar();">
                    CLP a Dolares
                </button>
                <button class="btn calc-button" onclick="calc_dolar_a_clp();">
                    Dolares a CLP
                </button>
            </div>

            <div class="col-12 col-lg-4 calc-button-group">
                <button class="btn calc-button" onclick="calc_clp_a_euro();">
                    CLP a Euros
                </button>
                <button class="btn calc-button" onclick="calc_euro_a_clp();">
                    Euros a CLP
                </button>
            </div>

            <div class="col-12 col-lg-4 calc-button-group">
                <button class="btn calc-button" onclick="calc_clp_a_uf();">
                    CLP a UF
                </button>
                <button class="btn calc-button" onclick="calc_uf_a_clp();">
                    UF a CLP
                </button>
            </div>

        </div>
    </div>

    <!--Vacio-->
    <div class="row mt-4"></div>
</div>

{% endblock %}