{% extends 'core/base.html' %}
{% load static %}
{% block css_custom %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}
{% block content %} 
        <div class="row mt-4 mb-4 main-row">
            <div class="col-md-12 text-center col-centered">
                <div id="carousel_0" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#carousel_0" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel_0" data-slide-to="1" ></li>
                        <li data-target="#carousel_0" data-slide-to="2" ></li>
                        <li data-target="#carousel_0" data-slide-to="3" ></li>
                    </ul>
                    <div class="carousel-inner">
                        
                        {% for producto in list_productos_carrousel_1%}
                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                            
                            <img class="carousel-0-img" src="{{producto.image.url}}" alt="{{producto.name}}">
                            
                            <!--<div class="carousel-caption d-none d-md-block">
                                <h5 style="color: #73142d; font-weight: bold; padding-right: 350px;">Precio Oferta: 159.990</h5>
                            </div>   
                            -->
                        </div>
                        {% endfor %}


                    </div>
                    <a class="carousel-control-prev" href="#carousel_0" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel_0" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    
                </div>
            </div>
            
        </div> <!--End Carousel 0-->
        
        <!--Carousel of cards (Category)-->
        <div class="row main-row mt-4 text-center">
            <!--Titulo-->
            <!--
                <h3 class="display-4 index-title">Encuentra tus Productos Aqui</h3>
            -->
            <!--Carousel 1-->
            <div class="row mt-4 main-row">
                <div class="carousel slide" data-ride="carousel" id="carousel_1">
                    
                    <!--indicador-->
                    <ul class="carousel-indicators carousel-padding">
                        <li data-target="#carousel_1" data-slide="0" class="active"></li>
                        <li data-target="#carousel_1" data-slide="1"></li>
                    </ul>
                    
                    <!--Slides-->
                    <div class="carousel-inner">
                        <!--Group 1-->
                        <div class="carousel-item active">
                            <div class="row carousel-block-group">
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/audifonos.png' %}" alt="Audifonos Black Ring">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Audifono Gamer MSI Immerse GH60</h6>
                                        <p class="card-text d-none d-md-block">Te brindará un sexto sentido para llevarte a la victoria!</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/placa_madre_asus_intel.png' %}" alt="Placa Madre Asus Strix">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Placa Madre ASUS ROG Strix Z490-H</h6>
                                        <p class="card-text  d-none d-md-block">Conecta todos los componentes que necesites</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/I9_9900k.png' %}" alt="Core I9 9990k">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Procesador Intel Core 9900K</h6>
                                        <p class="card-text  d-none d-md-block">El procesador más potente para Gaming</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                            </div>    
                        </div>

                        <!--Group 2-->
                        <div class="carousel-item">
                            <div class="row carousel-block-group">
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/Hyperx_CloudAlpha.png' %}" alt="HyperX CloudAlpha">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Audífono HyperX Cloud Alpha</h6>
                                        <p class="card-text d-none d-md-block">El mejor audifono calidad precio del mercado que te brindará una increible experiencia</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/Ryzen9.png' %}" alt="Ryzen 9 3900X">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Procesador AMD RYZEN 9 3900X</h6>
                                        <p class="card-text  d-none d-md-block">El mejor procesador calidad precio de esta generacion</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/placa_madre_asus_amd.png' %}" alt="MotherBoard Asus AMD">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Placa Madre ASUS Prime X570-P</h6>
                                        <p class="card-text  d-none d-md-block">Placa madre de primera calidad para procesadores ryzen, te asegurará un buen rendimiento</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                            </div>    
                        </div>

                    </div>
                    
                    <!--Flechas-->
                    <a class="carousel-control-prev" href="#carousel_1" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel_1" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div> 
            <!--Fin Carousel 1-->

            <!--Inicio Carousel 2-->
            <div class="row main-row pt-5">
                <div class="carousel slide" data-ride="carousel" id="carousel_2">
                    
                    <!--indicador-->
                    <ul class="carousel-indicators carousel-padding">
                        <li data-target="#carousel_1" data-slide="0" class="active"></li>
                        <li data-target="#carousel_1" data-slide="1"></li>
                    </ul>
                    
                    <!--Slides-->
                    <div class="carousel-inner">
                        <!--Group 1-->
                        <div class="carousel-item active">
                            <div class="row carousel-block-group">
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/categorias/sillas.png' %}" alt="Audifonos Black Ring">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Silla Cougar Armor One Blue</h6>
                                        <p class="card-text d-none d-md-block">COUGAR Armor One te trae la comodidad que necesitas para disfrutar completamente de largas sesiones de juego</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/Evga1000.png' %}" alt="Placa Madre Asus Strix">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Fuente de poder EVGA1000GQ</h6>
                                        <p class="card-text  d-none d-md-block">Compra la fuente de poder mas potente del mercado 80 plus gold!, esta fuente proveerá la energía suficiente para todo tu equipo!</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/1565111236279-65878318_5497799582-removebg-preview.png' %}" alt="Core I9 9990k">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Monitor gaming ASUS VP247H</h6>
                                        <p class="card-text  d-none d-md-block">Monitor Full HD de 23,6” con 1 ms de tiempo de respuesta para eliminar las imágenes borrosas y ofrecer una acción totalmente fluida</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                            </div>    
                        </div>

                        <!--Group 2-->
                        <div class="carousel-item">
                            <div class="row carousel-block-group">
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/msi_rtx_2060.png' %}" alt="HyperX CloudAlpha">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Tarjeta de video MSI RTX 2060</h6>
                                        <p class="card-text d-none d-md-block">Ten la ventaja competitiva que necesitas en tus juegos Online con NVDIA GeForce con esos FPS adicionales!</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/RamTridentz.png' %}" alt="Ryzen 9 3900X">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Memoria RAM G.SKILL TRIDENT Z RGB</h6>
                                        <p class="card-text  d-none d-md-block">Memoria RAM con RGB?! OMG NO PUEDES IRTE SIN LA TUYA! QUEDAN POCAS UNIDADES! SÉ EL DIÓS DEL RGB!</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{% static 'core/images/productos/RazerTeclado.png' %}" alt="MotherBoard Asus AMD">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">Teclado Gamer Razer Ornata Chroma</h6>
                                        <p class="card-text  d-none d-md-block">El teclado Gamer de tus sueños, el cual posee el RGB mas personalizable del mercado y switches de membrana-mecánica</p>
                                    </div>
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-informacion">Ver más</button>
                                    </div>
                                </div>
                            </div>    
                        </div>

                    </div>
                    
                    <!--Flechas-->
                    <a class="carousel-control-prev" href="#carousel_2" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel_2" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div> 
            <!--Fin Carousel 2-->
        </div>
        
        <!--Categorias-->
        <div class="row mt-4 mb-4">
            {% for categoria in CategoriaQuerySet %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 categoria-col">
                <a class="categoria-link" href="{% url 'search' %}?search=categoria%3A{{categoria.title}}">
                    <div class="card categoria-card">
                        <img class="card-img-top categoria-card-img" src="{{categoria.image.url}}" alt="Card Image">
                        <div class="card-img-overlay categoria-card-overlay">
                            <h4 class="card-title categoria-card-title">{{categoria.nameSpanish}}</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

{% endblock %}