{% extends 'core/base.html' %}
{% load static %}
{% block css_custom %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}
{% block content %} 
        <div class="row mt-4 mb-4 main-row">
            <div class="col-md-12 text-center col-centered">
                <div id="carousel_0" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#carousel_0" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel_0" data-slide-to="1" ></li>
                        <li data-target="#carousel_0" data-slide-to="2" ></li>
                        <li data-target="#carousel_0" data-slide-to="3" ></li>
                    </ul>
                    <div class="carousel-inner">
                        
                        {% for producto in list_productos_carrousel_1%}
                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                            <a href="{% url 'product' producto.id %}" target="_top">
                                <img class="carousel-0-img" src="{{producto.image.url}}" alt="{{producto.name}}">
                            </a>
                            <!--<div class="carousel-caption d-none d-md-block">
                                <h5 style="color: #73142d; font-weight: bold; padding-right: 350px;">Precio Oferta: 159.990</h5>
                            </div>   
                            -->
                        </div>
                        {% endfor %}


                    </div>
                    <a class="carousel-control-prev" href="#carousel_0" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel_0" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    
                </div>
            </div>
            
        </div> <!--End Carousel 0-->
        
        <!--Carousel of cards (Category)-->
        <div class="row main-row mt-4 text-center">
            <!--Titulo-->
            <!--
                <h3 class="display-4 index-title">Encuentra tus Productos Aqui</h3>
            -->
            <!--Carousel 1-->
            <div class="row mt-4 main-row">
                <div class="carousel slide" data-ride="carousel" id="carousel_1">
                    
                    <!--indicador-->
                    <ul class="carousel-indicators carousel-padding">
                        <li data-target="#carousel_1" data-slide="0" class="active"></li>
                        <li data-target="#carousel_1" data-slide="1"></li>
                    </ul>
                    
                    <!--Slides-->
                    <div class="carousel-inner">
                        <!--Group 1-->
                        <div class="carousel-item active">
                            <div class="row carousel-block-group">
                                
                                {% for producto in list_productos_carrousel_2_1 %}
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{{producto.image.url}}" alt="{{producto.name}}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">{{producto.name}}</h6>
                                        <p class="card-text d-none d-md-block">{{producto.descripcion}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-informacion" href="{% url 'product' producto.id %}" target="_top">Ver más</a>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>    
                        </div>

                        <!--Group 2-->
                        <div class="carousel-item">
                            <div class="row carousel-block-group">
                                {% for producto in list_productos_carrousel_2_2 %}
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{{producto.image.url}}" alt="{{producto.name}}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">{{producto.name}}</h6>
                                        <p class="card-text d-none d-md-block">{{producto.descripcion}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-informacion" href="{% url 'product' producto.id %}" target="_top">Ver más</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>    
                        </div>

                    </div>
                    
                    <!--Flechas-->
                    <a class="carousel-control-prev" href="#carousel_1" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel_1" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div> 
            <!--Fin Carousel 1-->

            <!--Inicio Carousel 2-->
            <div class="row main-row pt-5">
                <div class="carousel slide" data-ride="carousel" id="carousel_2">
                    
                    <!--indicador-->
                    <ul class="carousel-indicators carousel-padding">
                        <li data-target="#carousel_1" data-slide="0" class="active"></li>
                        <li data-target="#carousel_1" data-slide="1"></li>
                    </ul>
                    
                    <!--Slides-->
                    <div class="carousel-inner">
                        <!--Group 1-->
                        <div class="carousel-item active">
                            <div class="row carousel-block-group">
                                {% for producto in list_productos_carrousel_3_1 %}
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{{producto.image.url}}" alt="{{producto.name}}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">{{producto.name}}</h6>
                                        <p class="card-text d-none d-md-block">{{producto.descripcion}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-informacion" href="{% url 'product' producto.id %}" target="_top">Ver más</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>    
                        </div>

                        <!--Group 2-->
                        <div class="carousel-item">
                            <div class="row carousel-block-group">
                                {% for producto in list_productos_carrousel_3_2 %}
                                <div class="card carousel-block-3">
                                    <div class="card-header">
                                        <img src="{{producto.image.url}}" alt="{{producto.name}}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">{{producto.name}}</h6>
                                        <p class="card-text d-none d-md-block">{{producto.descripcion}}</p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-informacion" href="{% url 'product' producto.id %}" target="_top">Ver más</a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>    
                        </div>

                    </div>
                    
                    <!--Flechas-->
                    <a class="carousel-control-prev" href="#carousel_2" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel_2" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div> 
            <!--Fin Carousel 2-->
        </div>
        
        <!--Categorias-->
        <div class="row mt-4 mb-4">
            {% for categoria in CategoriaQuerySet %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 categoria-col">
                <a class="categoria-link" href="{% url 'search' %}?search=categoria%3A{{categoria.title}}">
                    <div class="card categoria-card">
                        <img class="card-img-top categoria-card-img" src="{{categoria.image.url}}" alt="Card Image">
                        <div class="card-img-overlay categoria-card-overlay">
                            <h4 class="card-title categoria-card-title">{{categoria.nameSpanish}}</h4>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

{% endblock %}