@import "style_base.css";

.container-login {
    color: white;
    background-color: var(--custom-color-shadow);
    width: 300px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.input-group {
    display: block;
}

.button-submit{
    background-color: var(--custom-color-light);
    border: 2px solid var(--custom-color-white);
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.button-submit:hover{
    border: 2px solid var(--custom-color-light);
    background-color: var(--custom-color-dark);
    color: var(--custom-color-light);
}

.recovery-password {
    color: var(--custom-color-light);
}

.recovery-password:active {
    color: var(--custom-color-dark);
}

.recovery-password:visited {
    color: var(--custom-color-light);
}

.recovery-password:link {
    color: var(--custom-color-light);
}

.errornote {
    border: 1px solid var(--custom-color-light);
    background-color: var(--custom-color-black);
}