{% extends 'core/base.html' %}

{% load static %}

{% block css_custom %}
    <link rel="stylesheet" href="{% static 'core/css/categorias.css' %}">
{% endblock %}

{% block content %}    
    <main class="container-xl text-white">
        <div class="row">
            <div class="col-8">
                <img src="{{producto.image.url}}" style="width:100%;">
            </div>
            <div class="col-4">
                <h1>{{producto.name}}</h1>
                <p>Categoria: {{producto.categoria}}</p>
                <h4>${{producto.price}} CLP</h4>
            </div>
        </div>
        <div class="row">
            <p>{{producto.descripcion}}</p>
        </div>
    </main>
{% endblock %}