
{% extends 'core/base.html' %}
{% block tab_title %}Login{% endblock %}
{% load static %}
    {% block css_custom %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/login.css' %}">
        
    {% endblock %}
{% block content %} 
    <!-- Container -->
    <div id="container" class="container container-login">
        <!-- Header -->
        <div id="header">
            <div id="branding">
                <h1>Inicio Sesión</h1>
            </div>    
        </div>
        <!-- END Header -->
        <!-- Content -->
        
        <div id="content" class="colM">
            <div id="content-main">
                {% for key in request.POST %}
                {% if key == "password" %}
                <p class="errornote">
                    Por favor introduzca el nombre de usuario y la clave correctos para una cuenta de personal. Observe que ambos campos pueden ser sensibles a mayúsculas.
                </p>
                {% endif %}
                {% endfor %}
                <form action="/accounts/login/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="font-weight-bold required" for="id_username">Usuario</label> 
                        <div class="input-group">
                            <input type="text" name="username" autofocus="" required="" id="id_username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold required" for="id_password">Contraseña</label> 
                        <div class="input-group">
                            <input type="password" name="password" required="" id="id_password">
                            <input type="hidden" name="next" value="/">
                        </div>
                    </div>
                    <div class="col-12">  
                        <input class="button-submit" type="submit" value="Iniciar sesión">
                    </div>
                    <div class="col-12 mt-5">
                        <p><a class="recovery-password" href="/reset_password/">Recuperar Contraseña</a></p>
                    </div>
                </form>
            </div>      
            <br class="clear">
        </div> 
    </div>
{% endblock %}