{% extends 'core/base.html' %}

{% load static %}

{% block css_custom %}
    <link rel="stylesheet" href="{% static 'core/css/categorias.css' %}">
{% endblock %}

{% block content %}
    <div class="text-white">
    {{list_categorias}}
    {{list_productos}}
    </div>

    <main class="container-xl">
        <h3 class="pb-5">Monitores</h3>

        <div class="row">
            {% for prod in list_productos %}
                <div class="item">
                    <div class="card">
                        <img class="card-img custom-img" src="{{prod.image.url}}"  alt="Responsive image">
                        <h1 class="card-title custom-title">
                            {{prod.name}}
                        </h1>
                        <p class="card-text custom-text">
                            {{prod.descripcion}} 
                            <br> 
                            Categoria: {{prod.categoria}}
                        </p>
                        <div class="card-footer">
                            <div class="row">
                                <div class="custom-precio-activo col-6">
                                    ${{prod.price }} clp
                                </div>
                                <div class="col-5">
                                    <button class="btn btn-compra">Comprar</button>
                                    <button class="btn btn-informacion">Info</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
                
    </main>
{% endblock %}