.my-error-class {
    color:red;
}
.my-valid-class {
    color:green;
}
.form-group label{
    color: white;
}
.container h3{
    color: white;
}
form .error
 {
     color: red;
     padding: 2px;
 }
 .error {
    color: #F00;
    background-color: #FFF;
  }