@import "style_base.css";

.navbar-title{
    font-size: 38px;
    color: #ffffff;
}


.nav-icon {
    height: 50px; 
    width: 50px;
}

.navbar {
    color: white;
}

.dropdown{
    position: relative;
    display: inline;
}

.offer-main {
    
    width: 100%;
    background-color: var(--custom-color-black-real);
    padding: 20px;
    margin: 0px;
    color: var(--custom-color-white);
}

.offer-title {
    color: var(--custom-color-white);
    font-size: 40px;
    text-align: center;
}

.offer-text {
    color: var(--custom-color-white);
    font-size: 30px;
    text-align: center;
}